/** BASE **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
  
body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

/** HEADER **/
#header-nav {
  background-color: #999;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
}
a.navbar-brand:hover h1, a.navbar-brand:focus h1 {
  text-decoration: none;
  color: #01c0c0;
}

#collapsable-nav {
  background-color: #fff;
  border: 1px solid #000;
}

#nav-list {
  text-align: center;
}

#collapsable-nav li:not(:last-child) {
    border-bottom: 1px solid #000;
}

#collapsable-nav li>a {
    color: #000;
}

#nav-list a:hover, #nav-list a:focus {
  color: #01c0c0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  float: right;
  margin-top: 20px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */


/* HOME PAGE */
h1 {
    font-size: 175%;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
  }

  .col {
    color: #000;
    border: 1px solid #000;
    padding: 0 10px 10px 10px;
    margin: 10px;
    background-color: #999999;
  }

  .col h2 {
    font-size: 125%;
    float: right;
    margin: 0 -10px 5px 0;
    padding: 5px 10%;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    /* For extremely small screens */
    max-width: 100%;
    overflow: hidden;
  }
  
  .col p {
    font-size: 100%;
    clear: right;
    /* For extremely small screens */
    overflow: hidden;
  }
  
  #chicken h2 {
    background-color: #d59898;
  }
  
  #beef h2 {
    background-color: #c14543;
    color:#fff;
  }
  
  #sushi h2 {
    background-color: #e5d198;
  }

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  #header-nav {
    border-bottom: 1px #000 solid;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 2em; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {


}



